html{
  font-size: 16px;
}


.saxlogo{
  width: 9rem;
}

.nave{
  display:flex ;
  flex-flow: column;
  align-items: center;

  
  
}
.navigation {
  display: flex;
  align-items: center;
  
}
.navigation a{
  margin-left: 1.5rem;
  text-decoration: none;
  cursor:pointer;
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(99, 96, 96);
}

.goal,.leveltext h2 {

  text-align:center;

}

.grade{
  display: flex;
  justify-content: space-evenly;
}

.textlevel {
  width: 15rem;
  text-align: justify;
}
.leveltitle{
  text-align: center;
}
.classroom h2{
  text-align: center;
}

.inside{
  display: flex;
}

.rooms{
  width: 300px;
  height: 300px;
  border: 2px solid   rgb(99, 96, 96);

}
